@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fcf6f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 2rem;
  font-size: 3rem;
}

.TodoWrapper {
  display: flex;
  background: #990011;
  margin-top: 6rem;
  margin-bottom: 3rem;
  padding: 10rem;
  padding-bottom: 2rem;
  padding-top: 3rem;
  border-radius: 2rem;
  border-style: outset;
  width: 100%;
}

.TodoForm {
  width: 100%;
}

.todo-input {
  outline: none;
  background: none;
  border: 0.15rem solid #fcf6f5;
  padding: 0.38rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 100%;
  color: #fff;
  font-size: 18px;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: #fcf6f5;
  color: #990011;
  border: white;
  padding: 0.7rem;
  margin-bottom: 1rem;
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.95);
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fcf6f5;
  color: #990011;
  padding: 1rem;
  border-color: #fcf6f5;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

.fa-trash {
  margin-left: 1rem;
}

.completed {
  color: #b2011e;
  text-decoration: line-through;
}

/*MEDIA QUERIES*/

@media only screen and (max-width: 800px) {
  .TodoWrapper {
    display: flex;
    flex-direction: column; /* Adjust flex direction for mobile layout */
    font-size: 20px;
    width: 90%; /* 100% width to take full viewport width */
    justify-content: center;
    align-items: center;
    padding: 22px;
    margin-left: 1.3rem;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1800px) {
  .TodoWrapper {
    display: grid;
    grid-template-columns: auto;
    font-size: 20px;
    width: 100%; /* Use 100% width for this range too */
    justify-content: center;
    align-items: center;
    padding: 22px;
  }
}
